@use "../helpers" as *;

.badge {
  display: inline-flex;
  padding: fluid(4, 2) fluid(14, 10);
  font-size: rem(16);
  color: var(--color-light);
  background: var(--dark-gradient) padding-box, var(--gradient) border-box;
  border: rem(1) solid transparent;
  border-radius: rem(6);

  @include laptop {
    font-size: rem(14);
    border-radius: rem(4);
  }
}
