@use "helpers" as *;

html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  // font-size у тега <P> на desktop и mobile версии
  @include fluid-text(18, 14);

  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  letter-spacing: -3%;
  color: var(--color-gray-50);
  background-color: var(--color-dark);
}

main {
  flex-grow: 1;
}

h1,
.h1,
h2,
h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--color-light);
}

h1,
.h1,
h2,
h2,
h3,
.h3 {
  font-family: var(--font-family-accent);
  font-weight: 500;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 600;
}

h1,
.h1 {
  // Размеры h1 на desktop и mobile версиях
  @include fluid-text(70, 30);
  line-height: 1.2;
}

h2,
.h2 {
  // Размеры h2 на desktop и mobile версиях
  @include fluid-text(58, 28);
  line-height: 1.3;
}

h3,
.h3 {
  // Размеры h3 на desktop и mobile версиях
  @include fluid-text(40, 24);
  line-height: 1.5;
}

h4,
.h4 {
  // Размеры h4 на desktop и mobile версиях
  @include fluid-text(26, 18);
  line-height: 1.5;
}

h5,
.h5 {
  // Размеры h5 на desktop и mobile версиях
  @include fluid-text(24, 18);
  line-height: 1.5;
}

h6,
.h6 {
  // Размеры h6 на desktop и mobile версиях
  @include fluid-text(20, 18);
  line-height: 1.5;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: #98989a;

  @include hover {
    color: var(--color-accent);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  outline: rem(2) dashed var(--color-light);
  outline-offset: rem(4);
  transition-duration: 0s !important;
}

a,
button {
  &[aria-label] {
    position: relative;

    &::before {
      @include abs-center;
      @include square(rem(44));
      content: "";
    }
  }
}
